<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinhKien.Properties.Settings.LinhKien3ConnectionString"
            connectionString="Data Source=HAVY\SQLSERVER;Initial Catalog=LinhKien3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>